# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [6]:
number = 6
print(number)

elephant = 7
print(elephant)

6
7

##### Assinging float

In [7]:
#float - any number with a decimal
num_float = 2.3
print(num_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [12]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [14]:
num1 = 7
num2 = 10
result_diff = num2 - num1
print(result_diff)

#short-hand
result_diff -= 1
print(result_diff)

3
2

##### Multiplication

In [18]:
result_prod = num1 * num2
print(result_prod)

#short-hand
result_prod *= 2
print(result_prod)

70
140

##### Division

In [20]:
num3 = 20
num4 = 5
result_dividend = num3/num4
print(result_dividend)

#short-hand
result_dividend /= 2
print(result_dividend)

4.0
2.0

##### Floor Division

In [21]:
#always be a round number
num5 = 15
num6 = 7
result_floor = num5 // num6
print(result_floor)

2

##### Modulo

In [23]:
num1 = 11
num2 = 2
result_mod = num1 % num2
print(result_mod)

num3 = 10
num4 = 2
result_mod2 = num3 % num4
print(result_mod2)

1
0

##### Exponential

In [24]:
square = 5 ** 2
print(square)

#short hand 
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [25]:
name = "Teddie"
print(name)

Teddie

##### print() <br>
<p>Don't forget about end=' '</p>

In [28]:
print("This is my first name: ", name)
print("Full Name: ", name, end=" Marx")

This is my first name:  Teddie
Full Name:  Teddie Marx

In [30]:
#use ? to get additional information about function
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

##### String Concatenation

In [36]:
first_name = "joy"
last_name = "christmas"

full_name = first_name + " " + last_name
print(full_name)
print(full_name.title())

full_name += " Father Christmas's daughter"
print(full_name.title())

joy christmas
Joy Christmas
Joy Christmas Father Christmas'S Daughter

##### Type Conversion

In [40]:
number = "32"

# int() --> convert a variable to an integer
# float() --> convert a variable to a float
# str() --> convert a variable to a string

print(type(number))

num_int = int(number)
print(type(num_int))

num_float = float(number)
print(type(num_float))

<class 'str'>
<class 'int'>
<class 'float'>

##### input()

In [43]:
#input will always return a string -- all the time -- forever and ever and ever and ever

name = input("What is your name? ")
color = input("What is your favorite color? ")
quest = input("What is your quest? ")

print(name, color, quest)

#make an integer by wrapping in integer
age = int(input("What is your age?: "))

add_age = age + 1
print(add_age)
print(type(age))

What is your name?  teddie
What is your favorite color?  blue
What is your quest?  hero

teddie blue hero

What is your age?:  34

35
<class 'int'>

##### format()

In [44]:
age = input("What is your age? ")
name = input("What is your name? ")

#braces are going to line up with the variables from .format(x, y)
result = "You are {} {} and you are getting wiser!".format(age, name)
print(result)

What is your age?  teddie
What is your name?  teddie

You are teddie teddie and you are getting wiser!

##### Old Way (python 2)

In [46]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are teddie and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [48]:
color = input("What is the color of your car? ")
year = input("What year was your car made? ")
make = input("What make is your car? ")
model = input("What model is your car? ")

print("You have {} {} {} that was made in {}.".format(color, make, model, year))

What is the color of your car?  blue
What year was your car made?  1988
What make is your car?  honda
What model is your car?  civic

You have blue honda civic that was made in 1988.

### If Statements

In [51]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print('Equal Values')
else: 
    print('Not Equal')
    
if num2 >= num1:
    print("num2 is greater")
elif num1 >= num2:
    print("num1 is greater")

Not Equal
num2 is greater

##### 'is' keyword

In [52]:
#USE THE "IS"KEYWORD WHEN CHECKING FOR SAME/SIMILAR OBJECTS, NOT SAME VALUE.

num3 = 55

num4 = num3

print(num3)
print(num4)

if num4 is num3:
    print("num4 is num3")

55
55
num4 is num3

##### 'in' keyword

In [57]:
#chekcing for membership in an interable

char_name = "Boba Fett"

if "Boba" in char_name:
    print("Oh no, the sarlaac")

if "o" in char_name:
    print("There is an O")
    
my_list = [1, 2, 3, 4, 5, 6]
my_list2 = [1, 3, 5, 7, 9]

if 1 in my_list:
    print("Yay a 1")
    
for x in my_list:
    if x in my_list2:
        print("It's here.")

Oh no, the sarlaac
There is an O
Yay a 1
It's here.
It's here.
It's here.

##### 'not in' keyword'

In [ ]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("This is Sonic not Sanic")
else:
    print("

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [62]:
name = input("What is your name? ")

if "p" in name.lower():
    print("P is in your name. ")
else:
    print("P is not in your name.")

What is your name?  bernadette

P is not in your name.

## Using 'and'/'or' with If Statements

In [64]:
num_1 = 15
num_2 = 3
num_3 = 10 
num_4 = 3

#if with and

if num_1 / 5 == num_2 and num_3 - 7 == num_4:
    print("True and True")
    print(True)
    
# if with or

if num_1 > num_2 or num_3 == num_4:
    print("True and False")
    print(True)

True and True
True
True and False
True

### Elif Statements

In [67]:
first_name = "Max"
another_name = "Cheetor"

if first_name == "Smith":
    print("The name is Smith.")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name is Max")

The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [71]:
# for keyword, variable/counter, "in" keyword, condition

for i in range(10):
    print(i)
    
name = "Teddie Marx"

for letter in name:
    print(letter)

for i in range(len(name)):
    print(i, name[i])

0
1
2
3
4
5
6
7
8
9
T
e
d
d
i
e

M
a
r
x
0 T
1 e
2 d
3 d
4 i
5 e
6
7 M
8 a
9 r
10 x

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [74]:
for i in range(20):
    print(i)
    
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [75]:
for i in range(20):
    if i == 3:
        break
    print(i)

0
1
2

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [76]:
#placeholder so code doesn't break and lives happily
name = "Teddie"

for i in name:
    pass

##### Double For Loops

In [79]:
my_list = [1, 2, 3, 4, 5, 6]
my_list2 = [7, 8, 9, 10, 11, 12]

for i in my_list:
    for x in my_list2:
        print(i, x)
        
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

1 7
1 8
1 9
1 10
1 11
1 12
2 7
2 8
2 9
2 10
2 11
2 12
3 7
3 8
3 9
3 10
3 11
3 12
4 7
4 8
4 9
4 10
4 11
4 12
5 7
5 8
5 9
5 10
5 11
5 12
6 7
6 8
6 9
6 10
6 11
6 12
i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [80]:
#while keyword, condition statement
# run based on the condition

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [81]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [86]:
num = 1

while num < 5:
    print("\n While Loop Iteration: ", num)
    for i in range(5):
        print("For Loop Iteratoin: ", i)
        
    num += 1

 While Loop Iteration:  1
For Loop Iteratoin:  0
For Loop Iteratoin:  1
For Loop Iteratoin:  2
For Loop Iteratoin:  3
For Loop Iteratoin:  4

 While Loop Iteration:  2
For Loop Iteratoin:  0
For Loop Iteratoin:  1
For Loop Iteratoin:  2
For Loop Iteratoin:  3
For Loop Iteratoin:  4

 While Loop Iteration:  3
For Loop Iteratoin:  0
For Loop Iteratoin:  1
For Loop Iteratoin:  2
For Loop Iteratoin:  3
For Loop Iteratoin:  4

 While Loop Iteration:  4
For Loop Iteratoin:  0
For Loop Iteratoin:  1
For Loop Iteratoin:  2
For Loop Iteratoin:  3
For Loop Iteratoin:  4

### Built-In Functions

##### range()

In [88]:
#range gives the number range minus the number displayed. ie. range(6) will give you 0 through 5
#start, stop, step

for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

##### len()

In [93]:
#gives you the length of string

name = "Lando"

print(len(name))

5

##### help()

In [95]:
#use this function to view more info about a python function

help(print)
print?

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

##### isinstance()

In [98]:
#check a variable to find out what Object Famiyl it belongs to 
#isinstance (variabe, type)

num = 4.5 
print(isinstance(num, float))

if isinstance(4.5, float):
    print("This number is a float type.")

True
This number is a float type.

##### abs()

In [100]:
#absolute value of an item, distance from zero
# |5|
#a really good way to turn a negative into a positive
print(abs(-5))
print(abs(10))

5
10

### Try and Except

In [139]:
#use whenever you expect to encounter a buf so that the error does not cause the program to stop
#use so you can log graceful and useful error messages

try:
    number_test = 0
    input_num = int(input("Guess a number! "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work --- ERROR: Please make sure your input is a number.")

Guess a number!  asdf

That did not work --- ERROR: Please make sure your input is a number.

### Lists

##### Declaring Lists

In [103]:
list_1 = [] # empty list declaration

names = ['Ash', 'Missy', 'Brock', 'Gary']
print(names)

['Ash', 'Missy', 'Brock', 'Gary']

##### Indexing a List

In [108]:
# [start: stop: step:] -- [1] <-- alwys return the last item in the list

#single Index
print(names[0])

#print starting at index 1 and going to the end
print(names[1:])

#(n being the number we wnat to stop at)
print(names[:2])

#printing at the beginning and going by 2's
print(names[1::2]) #double colon

#print starting at the back and present in reverse order
print(names[::-1])

Ash
['Missy', 'Brock', 'Gary']
['Ash', 'Missy']
['Missy', 'Gary']
['Gary', 'Brock', 'Missy', 'Ash']

##### .append()

In [109]:
#lets us add to a list

names = ['Ash', 'Missy', 'Brock', 'Gary']

names.append("Professor Oak")
print(names)

['Ash', 'Missy', 'Brock', 'Gary', 'Professor Oak']

##### .insert()

In [110]:
#allows us to add to a list but at a specific location
#list.insert(index, value)

names.insert(2, "Officer Jenny")
print(names)

['Ash', 'Missy', 'Officer Jenny', 'Brock', 'Gary', 'Professor Oak']

##### .pop()

In [113]:
# pop will remove the last item in the list by default
# pop returns the element that was removed in case you want to reassign it

names = ['Ash', 'Missy', 'Officer Jenny', 'Brock', 'Gary', 'Professor Oak']

bye_bye = names.pop()
print(bye_bye)

#pop removes by index

print(names.pop(2))

print(names)

Professor Oak
Officer Jenny
['Ash', 'Missy', 'Brock', 'Gary']


##### .remove()

In [116]:
# value to be removed, not index
# list.remove(value)

new_names = ["Ryan", "Alex", "Raul", "Chris", "Teddie", "Bob", "Bob", "Bob", "Bob"]
print(new_names)

new_names.remove("Ryan")
print(new_names)

while "Bob" in new_names:
    new_names.remove("Bob")

print(new_names)

['Ryan', 'Alex', 'Raul', 'Chris', 'Teddie', 'Bob', 'Bob', 'Bob', 'Bob']
['Alex', 'Raul', 'Chris', 'Teddie', 'Bob', 'Bob', 'Bob', 'Bob']
['Alex', 'Raul', 'Chris', 'Teddie']

##### del()

In [117]:
#index to be removed, not value
# be careful with del, can cause indexing errors
new_names = ["Ryan", "Alex", "Raul", "Chris", "Teddie"]

del(new_names[1])

print(new_names)

['Ryan', 'Raul', 'Chris', 'Teddie']

##### Concatenating Two Lists

In [126]:
l_2 = [1, 2, 3, 4]
l_3 = [5, 6, 7, 8]

larger_list = 1_3 + 1_2
print(larger_list)

25

##### Lists Within Lists

In [121]:
names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]

print(names)
print(names[0])
print(names[3][0])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Max
Sally

##### Looping Through Lists

In [125]:
#Two way to loop through a list, one by index
#one by value

names = ["Ryan", "Alex", "Raul", "Chris", "Teddie"]
#looping by index
for i in range(len(names)):
    print(i)
    print(i, names[i])

#looping by value and using "in" keyword
for name in names:
    print(name)

#enumerate 
for i, name in enumerate(names):
    print(i, name)

0
0 Ryan
1
1 Alex
2
2 Raul
3
3 Chris
4
4 Teddie
Ryan
Alex
Raul
Chris
Teddie
0 Ryan
1 Alex
2 Raul
3 Chris
4 Teddie

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [150]:
for i in range(0, 11):
    cubed = i*i*i
    print(cubed)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [18]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# 0 is neither prime nor composite as all numbers divided by zero give you zero and zero divided by zero is undefined.
# 1 is not prime becuase it can only be divided by itself. 
# this is why 0 and 1 are left out of the range 

for i in range(2,100):
    prime = True
    for b in range(2, i):
        if i % b == 0:
            prime = False
            break
    if prime:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [149]:
age = int(input("How old are you? "))

if age < 18:
    print("Kids")
elif age <=18 or age <=65:
    print("Adults")
else:
    print("Senior")

How old are you?  66

Senior